@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --primary-Color: #181616;
    --font-Color: white;
    --nav-Font: "Poppins";
}

body {
    margin: 0;
    background-color: var(--primary-Color);
}

.header {
    width: 100%;
    position: fixed;
    bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--nav-Font);
}

.header .navbar {
    position: relative;
    width: 450px;
    height: 70px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.header .navbar .tabs {
    display: flex;
    width: 350px;
    padding: 0 20px;
}

.header .navbar .tabs .tab {
    position: relative;
    list-style: none;
    height: 70px;
    width: 70px;
    z-index: 1;
}


.header .navbar .tabs .tab a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font: 500;
}

.header .navbar .tabs .tab a .icon {
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: var(--primary-Color);
}

.header .navbar .tabs .tab:hover a .icon {
    transform: translateY(-20px);
}

.header .navbar .tabs .tab.active a .icon {
    transform: translateY(-37px);
}

.header .navbar .tabs .tab a .text {
    position: absolute;
    color: var(--primary-Color);
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}

.header .navbar .tabs .tab:hover a .text {
    opacity: 1;
    transform: translateY(10px);
}

.header .navbar .tabs .tab.active a .text {
    opacity: 1;
    transform: translateY(10px);
}

.indicator {
    position: absolute;
    top: -50%;
    width: 59px;
    height: 60px;
    background: rgb(240, 40, 40);
    border-radius: 50%;
    border: 6px solid var(--primary-Color);
    transition: 0.5s;
}

.indicator .hover {
    background: rgb(226, 104, 104);
}

.indicator::before {
    content: '';
    position: absolute;
    top: 48.5%;
    left: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 25px;
    box-shadow: 0px -10px 0 0 var(--primary-Color);
}

.indicator::after {
    content: '';
    position: absolute;
    top: 48.5%;
    right: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius: 25px;
    box-shadow: 0px -10px 0 0 var(--primary-Color);
}

.navbar .tabs .tab:nth-child(1).active ~ .indicator {
    transform: translateX(calc(70px * 0));
}

.navbar .tabs .tab:nth-child(2).active ~ .indicator {
    transform: translateX(calc(70px * 1));
}

.navbar .tabs .tab:nth-child(3).active ~ .indicator {
    transform: translateX(calc(70px * 2));
}

.navbar .tabs .tab:nth-child(4).active ~ .indicator {
    transform: translateX(calc(70px * 3));
}

.navbar .tabs .tab:nth-child(5).active ~ .indicator {
    transform: translateX(calc(70px * 4));
}