body {
    background-color: black;
}

h1 {
    text-transform: uppercase;
    font-size: 3rem;
}

.post {
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    color: white;
    font-family: "Libre Baskerville",serif;
    text-align: center;
}

.post-img {
    border: 5px solid white;
    border-radius: 25px;
    width: 100% ;
}