
<footer>
    <ul class="social_icon">
      <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
      <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
      <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
      <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
    </ul>
  
    <ul class="menu">
      <li><a href="/">Home</a></li>
      <li><a href="/posts">Posts</a></li>
      <li><a href="/topics">Topics</a></li>
      <li><a href="/news">News</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
    <p class="copyright"> Made by ❤️ Zack River.</p>
  </footer>
  <script src="/js/index.js"></script>
</body>
</html>