<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlogPost</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header class="header">
        <a href="/"> <div class="logo">
                <h1 class="logo-img">B</h1>
                <h1 class="logo-text">Blog Post</h1>
        </div></a>

        <div class="search-bar">
            <input class="search" type="text" placeholder="Search Here!">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>

        <nav class="navbar">      
            <ul class="tabs">
                <li class="tab"><a href="/">Home</a></li>
                <li class="tab"><a href="/posts">Posts</a></li>
                <li class="tab"><a href="/topics">Topics</a></li>
                <li class="tab"><a href="/news">News</a></li>
                <li class="tab"><a href="/contact">Contact</a></li>
            </ul>
            <button class="create-btn">Create <i class="fa-regular fa-pen-to-square"></i></button>
        </nav>
    </header>