<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kitsu</title>
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<header class="header">
    <nav class="navbar">
        <ul class="tabs">
            <li class="tab">
                <a href="#">
                    <div class="icon">
                        <i class="fa-solid fa-video"></i>
                    </div>
                    <div class="text">Movies</div>
                </a>
            </li>
            <li class="tab">
                <a href="#">
                    <div class="icon">
                        <i class="fas fa-eye"></i>
                    </div>
                    <div class="text">Trending</div>
                </a>
            </li>
            <li class="tab active">
                <a href="#">
                    <div class="icon">
                        <i class="fa fa-home"></i>
                    </div>
                    <div class="text">Home</div>
                </a>
            </li>
            <li class="tab">
                <a href="#">
                    <div class="icon">
                        <i class="fa-solid fa-fire"></i>
                    </div>
                    <div class="text">Hot</div>
                </a>
            </li>
            <li class="tab">
                <a href="#">
                    <div class="icon">
                        <i class="fa-solid fa-square-phone"></i>
                    </div>
                    <div class="text">Contact</div>
                </a>
            </li>
            <div class="indicator"></div>
        </ul>
    </nav>
</header>